
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--SERF: 50;
}

@font-face {
	font-family: "confetti";
	src: url("fonts/confettiVF.woff2") format("woff2");
}

#bigletter {
	font-family: "confetti";
	font-variation-settings: 'SERF' var(--SERF);
}

body {
	padding: 1.5em;
	font-family: "confetti";
	font-size: calc(60vw / 20);
	text-align: left;
	font-variation-settings: 'SERF' 50;
	color:black;
	background-color: white;
}


header {
	margin-bottom:2em;
	display:flex;
	justify-content: space-between;
}

.nav {
	display: flex;
}

.time1, .time2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	row-gap: 5em;
	margin-bottom:2em;
}

.time1 p{
	font-variation-settings: 'SERF' 0;
}

.nav #item {
	margin-left:1em;
}

.largetext {
	font-size: 150px;
}


/*SLIDER STYLES*/


.range-name, .min, .max{
	width: 100px;
}
.min{
	text-align: right;
}
.range-name::after{
	content: ': ';
}

input.axis-range{

	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 15px; /* Specified height */
	background: red; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

input.axis-range::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: pink; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }

#scale {
	display: flex;
	
}







@media screen and (max-width: 700px) {

  }

