body {
	padding-left: 3em;
	padding-right:3em;
	background-color: whitesmoke;
}

.columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:10px;
}

.type {
	border: solid black 1px;
	padding:1em;
}


p {
	color: black;
}

h1 {
	display: flex;
	font-size: 18px;
	font-weight: 100;
}

h2 {
	font-size: 48px;
	font-weight: 200;
}


a {
	color: blue;
}

    @font-face {
	    font-family: "Experiment";
	    src: url("fonts/NewFont-Regular.woff2") format("woff2");
    }

    @font-face {
      font-family: "Variable";
      src: url("fonts/NewFontVF.woff2") format("woff2");
    }

    .experimentalfont {
		font-size:24px;
	    color:black;
	    font-family: "Experiment";
      }

    .variable {
	font-size:24px;
      color: black;
      font-family: "Variable";
	  font-stretch: 0%;
	  font-variation-settings: 'wdth' 0;
    }

	.variable:hover {
		  font-stretch: 100%;
		  font-variation-settings: 'wdth' 100;
		}

	



