
*{
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	src: url("fonts/UntitledSans-Light.otf") format("otf");
	font-family: "untitled";
}


body{
	font-size: 28px;
	color: white;
	font-family: 'untitled', sans-serif;
	font-weight: 100;
	margin: 0;
	background-color: #343434;
}

.content {
	margin-left:15%;
	margin-right:15%;
	display: block;
	max-width: 70%;
	margin: auto; 
}

.text {
	line-height: 1.3;
	border: solid 1px #C4C4C4;
	padding:20px;
	box-shadow:5px 5px 10px #C4C4C4;
}

#tablet {
position: relative;
left:70%;
margin-top:-10%;
}

#tablet .descriptor {
	visibility:hidden;
}

.descriptor {
	/* display: none; */
	position:relative;
	background-color:black;
	border: 1px solid white;
	border-radius: 10px;
	width:150px;
	padding:10px;
	text-align: center;
	font-size: 18px;
}

#tablet:hover .descriptor {
	visibility: visible;
	top:-100px;
}

#sideview {
	margin-bottom: -50%;
	position:relative;
	left:-20%;
}

#metaltype {
	position: relative;
	left:90%;
	margin-top:-15%;
}

#renaissance {
	margin-top:20%;
	margin-bottom:10%;
}




@media screen and (max-width: 700px) {
	body {
font-size:12px	}

.content {
	display: block;
}

.image {
	margin-top:2em;
}
  }

