
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--SERF: 0;
}

@font-face {
	src: url("fonts/confettiVF.woff2") format("woff2");
	font-family: "confetti";
}

#bigletter {
	font-family: "confetti";
	font-variation-settings: 'SERF' var(--SERF);
}

body {
	padding-top: 1.5em;
	padding-left:10%;
	padding-right:10%;
	font-family: "confetti";
	font-size: calc(60vw / 23);
	text-align: left;
	font-variation-settings: 'SERF' 50;
	color:black;
	background-color: #f5f5f5;
	padding-bottom:1.5em;
}


header {
	margin-bottom:2em;
	display:flex;
	justify-content: space-between;
}

.nav {
	display: flex;
}

.time1, .time2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	row-gap: 5em;
	margin-bottom:2em;
}

.time {
	margin-bottom:4em;
}

.time1 p{
	font-variation-settings: 'SERF' 0;
}

.nav #item {
	margin-left:1em;
}

.largetext {
	font-size: calc(60vw / 16);
	margin-bottom: 1em;
	border-top: solid black 2px;
	padding-top:15px;
}

.caps {
	display: flex;
}

.caps span {
	padding-right:10px;
}




/*SLIDER STYLES*/


.range-name, .min, .max{
	width: 100px;
}

.min{
	text-align: right;
}

/* .range-name::after{
	content: ': ';
} */

input.axis-range{

	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 70%; /* Full-width */
	height: 15px; /* Specified height */
	background: gray; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

input.axis-range::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 70px; /* Set a specific slider handle width */
	height: 35px; /* Slider handle height */
	background: #fd91a3; /* Green background */
	cursor: pointer; /* Cursor on hover */
  }



.scale {
	display:flex;
}

#serif {
	text-align: right;
}

#sliders, #clockout {
	margin-bottom: 4em;
}

#reveal {
	margin-top: 1em;
	margin-bottom:1em;
	color: #f5f5f5;
}

#partymode {
	text-align: center;
	font-size: calc(60vw / 8);
	padding:1em;
	border: solid black 3px;
	margin-bottom: 1em;
}

footer {
	display: flex;
	justify-content: space-between;
	vertical-align: baseline;
	margin-bottom:3em;
}

#clockout .description {
	font-size: calc(60vw / 16);
}

#clockout .directive {
	font-size: calc(60vw / 5);
	margin-top:1em;
	margin-left: 20%;
}

#clockout img{
	position: relative;
	top: -1.7em;
    right: -1.1em;
    width: 50%;
}

#clockout {
	margin-bottom:-5em;
}


/* dark mode function */

button {
	background-color: white; /* Green */
	border: solid black 2px;
	color: black;
	padding: 32px 0;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-right:auto;
	margin-left:auto;
	font-size: calc(60vw / 10);
	width:100%;
	font-family: "confetti";
}

.darkmode{
	background: black;
	color: #fd91a3;
	font-variation-settings: 'SERF' 100;
}

.darkmode #reveal {
	color: #fd91a3;
}

.colorchange {
	z-index: -900;
}



@media screen and (max-width: 700px) {

	.time1, .time2 {
		display: block;
	}

	
  }

